.ln{


    border-style: none;
    border-top-style: dotted;
    border-color: #B2BEB5;
    border-width: 5px;
    width: 20%;

}

.bottom-container{

background-color: black;
/* width: 75px;
height: 30px; */



}
.kaif{

color: white;

}
.love
{

color: red;
text-decoration: underline;

}